<section>
	<h2>Settings</h2>
	
	<form action="#settings/save" method="post">
		<fieldset>
			<legend>nzbVR</legend>
			<dl>
				<dt>
					<label for="base_url">Base URL</label>
				</dt>
				<dd>
					<input id="base_url" type="text" value="<?php echo  $this->picnic()->controller()->settings->base_url; ?>" />
				</dd>
			</dl>
		</fieldset>
		<fieldset>
			<legend>nzbVR Display</legend>
			
			<p>nzbVR provides a second skin primarily for an iPhone optimised, this can be accessed via /mobile.html or /m</p>
			
			<dl>
				<dt>
					<label for="main_skin">Main Skin</label>
				</dt>
				<dd>
					<?php ViewHelper::select("main_skin", $this->picnic()->controller()->skins, $this->picnic()->controller()->settings->main_skin, false); ?>
				</dd>
				
				<dt>
					<label for="mobile_skin">Mobile Skin</label>
				</dt>
				<dd>
					<?php ViewHelper::select("mobile_skin", $this->picnic()->controller()->skins, $this->picnic()->controller()->settings->mobile_skin, false); ?>
				</dd>
			</dl>	
		</fieldset>
		
		<fieldset>
			<legend>Newzbin</legend>
			<dl>
				<dt>
					<label for="newzbin_username">Username</label>
				</dt>
				<dd>
					<input id="newzbin_username" type="text" value="<?php echo  base64_decode($this->picnic()->controller()->settings->newzbin_username); ?>" />
				</dd>
			
				<dt>
					<label for="newzbin_password">Password</label>
				</dt>
				<dd>
					<input id="newzbin_password" type="password" value="<?php echo base64_decode($this->picnic()->controller()->settings->newzbin_password); ?>" />
				</dd>
			</dl>
		</fieldset>
		
		<fieldset>
			<legend>SABnzbd</legend>
			<dl>
				<dt>
					<label for="sabnzbd_address">Address</label>
				</dt>
				<dd>
					<input id="sabnzbd_address" type="text" value="<?php echo  $this->picnic()->controller()->settings->sabnzbd_address; ?>" />
				</dd>
			
				<dt>
					<label for="sabnzbd_apikey">API Key</label>
				</dt>
				<dd>
					<input id="sabnzbd_apikey" type="text" value="<?php echo  base64_decode($this->picnic()->controller()->settings->sabnzbd_apikey); ?>" />
				</dd>
			</dl>
		</fieldset>
		
		<fieldset>
			<legend>XBMC</legend>
			<dl>
				<dt>
					<label for="xbmc_address">Address</label>
				</dt>
				<dd>
					<input id="xbmc_address" type="text" value="<?php echo  $this->picnic()->controller()->settings->xbmc_address; ?>" />
				</dd>
				
				<dt>
					<label for="xbmc_username">Username</label>
				</dt>
				<dd>
					<input id="xbmc_username" type="text" value="<?php echo  base64_decode($this->picnic()->controller()->settings->xbmc_username); ?>" />
				</dd>
				
				<dt>
					<label for="xbmc_password">Password</label>
				</dt>
				<dd>
					<input id="xbmc_password" type="password" value="<?php echo base64_decode($this->picnic()->controller()->settings->xbmc_password); ?>" />
				</dd>
			</dl>
		</fieldset>
		
		<fieldset>
			<legend>Prowl</legend>
			
			<p>For <a href="http://prowl.weks.net/">Prowl</a> notifications to work successfully, Curl needs to be compiled with OpenSSL.</p>
			
			<dl>
				<dt>
					<label for="prowl_apikey">API Key</label>
				</dt>
				<dd>
					<input id="prowl_apikey" type="text" value="<?php echo base64_decode($this->picnic()->controller()->settings->prowl_apikey); ?>" />
				</dd>
			</dl>
		</fieldset>
		
		<fieldset>
			<legend>Growl</legend>
			
			<p>To receive notifications via <a href="http://growl.info/">Growl</a> on OS X you need to enable the 'Listen for incoming notifications' and 'Allow remote application registration' options inside the Growl preferences.</p>
			
			<dl>
				<dt>
					<label for="growl_address">Address</label>
				</dt>
				<dd>
					<input id="growl_address" type="text" value="<?php echo $this->picnic()->controller()->settings->growl_address; ?>" />
				</dd>
				<dt>
					<label for="growl_password">Server Password</label>
				</dt>
				<dd>
					<input id="growl_password" type="password" value="<?php echo base64_decode($this->picnic()->controller()->settings->growl_password); ?>" />
				</dd>
			</dl>
		</fieldset>
		
		<div class="buttons">
			<button type="submit" class="save_btn">Save</button>
		</div>
	</form>
	<script type="text/javascript">$nzbVR.view.allow_submit(true);</script>
</section>