<?php
	$watcher = $this->picnic()->controller()->watcher;
	$series = $this->picnic()->controller()->series;

	$last = $series->lastDownload();
	$next = $series->nextDownload();
	$then = $series->nextDownload($next, false);
?>
<section class="series-details">
	<div class="coverart">
		<img src="<?php echo TVDB::imageURL($series->poster); ?>" alt="Coverart" />
	</div>

	<h2><?php echo $watcher->name; ?></h2>
	
	<div class="info">
		<span class="runtime"><?php echo  $series->runtime; ?> minutes, <?php echo  $series->airs_day; ?> at <?php echo  $series->airs_time; ?></span>
		
		<p class="overview"><?php echo $series->overview; ?></p>
	
		<div class="episodes">
			<?php if ($last != null): ?>
			<h5>Last: <?php echo  $last->identifier(); ?> - <?php echo  $last->name; ?> (<?php echo  $last->airs_date(); ?>)</h5>
			<?php endif ?>
			<?php if ($next != null): ?>
			<h4>Next: <?php echo  $next->identifier(); ?> - <?php echo  $next->name; ?> (<?php echo  $next->airs_date(); ?>)</h4>
			<?php endif ?>
			<?php if ($then != null): ?>
			<h5>Then: <?php echo  $then->identifier(); ?> - <?php echo  $then->name; ?> (<?php echo  $then->airs_date(); ?>)</h5>
			<?php endif ?>
		</div>
	</div>
</section>
<script type="text/javascript">$back_button = "series";</script>