<section class="series">
	<h2>Series</h2>
	
	<nav class="content_nav">
		<a href="#series/new" class="content">New Series</a>
		<a href="#watchers/check.html?type=series" class="content slow">Check All</a>
		<a href="#watchers/update.html?type=series" class="content slow">Update All</a>
	</nav>
	
	<?php if (sizeof($this->picnic()->controller()->series) > 0): ?>
	<dl>
		<?php foreach ($this->picnic()->controller()->series as $series): ?>
			<?php
				$last = $series->lastDownload();
				$next = $series->nextDownload();
				$then = $series->nextDownload($next, false);
			?>
			<dd class="series">
				<div class="coverart">
					<img src="<?php echo $series->posterUrl(); ?>" alt="Coverart" />
				</div>
				<div class="information">
					<div class="identifier">
						<h3><a href="#series/show/<?php echo $series->id; ?>" class="content"><?php echo  $series->watcher->name; ?></a></h3>
						<span class="runtime"><?php echo  $series->runtime; ?> minutes, <?php echo  $series->airs_day; ?> at <?php echo  $series->airs_time; ?></span>
						<nav class="actions">
							<a href="#watchers/check/<?php echo $series->watcher->id; ?>" class="content slow">Check</a>
							<a href="#watchers/update/<?php echo $series->watcher->id; ?>" class="content slow">Update Info</a>
							<a href="#series/delete/<?php echo $series->id; ?>" class="content">Delete</a>
						</nav>
						<nav class="externals">
							<a href="<?php echo  $series->rage_url; ?>">TVRage</a>
							<a href="<?php echo  $series->tvdbUrl(); ?>">TVDB</a>
							<a href="<?php echo  $series->imdbUrl(); ?>">IMDB</a>
						</nav>
					</div>
					<div class="episodes">
						<?php if ($last != null): ?>
						<h5>Last: <?php echo  $last->identifier(); ?> - <?php echo  $last->name; ?> (<?php echo  $last->airs_date(); ?>)</h5>
						<?php endif ?>
						<?php if ($next != null): ?>
						<h4>Next: <?php echo  $next->identifier(); ?> - <?php echo  $next->name; ?> (<?php echo  $next->airs_date(); ?>)</h4>
						<?php endif ?>
						<?php if ($then != null): ?>
						<h5>Then: <?php echo  $then->identifier(); ?> - <?php echo  $then->name; ?> (<?php echo  $then->airs_date(); ?>)</h5>
						<?php endif ?>
					</div>
				</div>
			</dd>
		<?php endforeach; ?>
	</dl>
	<?php else: ?>
		<p class="empty">Your library is empty, you should add a <a href="#series/new" class="content">new series</a> to watch.</p>
	<?php endif; ?>
</section>