<?php
$watcher = $this->picnic()->controller()->watcher;
$series = $this->picnic()->controller()->series;

$seasons = array_reverse($series->seasons, true);

$last = $series->lastDownload();
$next = $series->nextDownload();
$then = $series->nextDownload($next, false);
?>
<section class="series">
	<h2><?php echo $watcher->name; ?></h2>
	
	<nav class="content_nav">
		<a href="#series" class="content">Back to Series</a>
		<a href="#watchers/check/<?php echo  $series->id; ?>" class="content">Check</a>
		<a href="#watchers/update/<?php echo  $series->id; ?>" class="content">Update Info</a>
		<a href="#series/delete/<?php echo  $series->id; ?>" class="content confirm_delete">Delete</a>
	</nav>
	
	<span class="runtime"><?php echo  $series->runtime; ?> minutes, <?php echo  $series->airs_day; ?> at <?php echo  $series->airs_time; ?></span>
	
		<div class="coverart">
			<img src="<?php echo  TVDB::imageURL($series->poster); ?>" alt="Coverart" />
		</div>
	
	<section class="series-info">
		<p>
			<?php echo $series->overview; ?>
		</p>
		
		<nav class="externals">
			<a href="<?php echo  $series->rage_url; ?>">TVRage</a>
			<a href="<?php echo  $series->tvdbUrl(); ?>">TVDB</a>
			<a href="<?php echo  $series->imdbUrl(); ?>">IMDB</a>
		</nav>
	</section>
	
	<div class="episodes">
		<?php if ($last != null): ?>
		<h5>Last: <?php echo  $last->identifier(); ?> - <?php echo  $last->name; ?> (<?php echo  $last->airs_date(); ?>)</h5>
		<?php endif ?>
		<?php if ($next != null): ?>
		<h4>Next: <?php echo  $next->identifier(); ?> - <?php echo  $next->name; ?> (<?php echo  $next->airs_date(); ?>)</h4>
		<?php endif ?>
		<?php if ($then != null): ?>
		<h5>Then: <?php echo  $then->identifier(); ?> - <?php echo  $then->name; ?> (<?php echo  $then->airs_date(); ?>)</h5>
		<?php endif ?>
	</div>
	
	<section class="episode-list">
		<dl>
			<?php foreach ($seasons as $season): ?>
			<dd class="season">
				<h4>
					<span class="head">
						Season <?php echo $season->num; ?>
						<span class="season-count">(<?php echo $season->episodesDownloadedCount(); ?>/<?php echo $season->episodesCount(); ?>)</span>
					</span>
				</h4>
				<dl class="episodes">
					<?php foreach ($season->episodes as $episode): ?>
					<dd <?php if ($episode->downloaded): ?>class="downloaded"<?php endif; ?>>
						<?php echo $episode->identifier(); ?> - <?php echo $episode->name; ?>
						<span class="chrono">(<?php echo $episode->airs_date(); ?>)</span>
						<span class="state"></span>
						<nav>
							<?php if ($episode->downloaded): ?>
							<a href="#">Re-download</a>
							<?php else: ?>
								<?php if (strtotime($episode->airs_date) < time()): ?>
									<a href="#" onclick="$nzbVR.series.downloadEpisode('<?php echo $watcher->id; ?>', '<?php echo $season->num; ?>', '<?php echo $episode->num; ?>', this.parentNode.parentNode);">Download Now</a>
								<?php endif; ?>
							<?php endif; ?>
						</nav>
					</dd>
					<?php endforeach; ?>
				</dl>
			</dd>
			<?php endforeach; ?>
		</dl>
	</section>
</section>
<script type="text/javascript">$nzbVR.series.applyEpisodeList();</script>
