<section class="series">
	<h2>Series</h2>
	
	<nav class="content_nav">
		<a href="#series/new" class="content">New Series</a>
		<a href="#watchers/check.html?type=series" class="content slow">Check All</a>
		<a href="#watchers/update.html?type=series" class="content slow">Update All</a>
	</nav>
	
	<nav class="sort">
		<a href="#" class="head">Sort by:</a>
		<a href="#series.html?sort=upcoming" class="content <?php if ($this->picnic()->controller()->sort == "upcoming"): ?>selected<?php endif; ?>">Upcoming</a>
		<a href="#series.html?sort=downloaded" class="content <?php if ($this->picnic()->controller()->sort == "downloaded"): ?>selected<?php endif; ?>">Downloaded</a>
	</nav>
	
	<nav class="display">
		<a href="#" class="head">Display as:</a>
		<a href="#series.html?mode=list" class="content <?php if (nzbVR::instance()->settings->series_display_mode == "list"): ?>selected<?php endif; ?>">List</a>
		<a href="#series.html?mode=thumbnails" class="content <?php if (nzbVR::instance()->settings->series_display_mode == "thumbnails"): ?>selected<?php endif; ?>">Thumbnails</a>
	</nav>
	
	<?php if (sizeof($this->picnic()->controller()->series) > 0): ?>
	<dl class="thumbnails">
		<?php foreach ($this->picnic()->controller()->series as $series): ?>
			<?php
				$last = $series->lastDownload();
				$next = $series->nextDownload();
				$then = $series->nextDownload($series->nextDownload(), false);
			?>
			<dd class="series">
				<div class="coverart">
					<a href="#series/show/<?php echo $series->id; ?>" class="content"><img src="<?php echo $series->posterUrl(); ?>" alt="<?php echo $series->watcher->name; ?> Coverart" title="<?php echo $series->watcher->name; ?>" /></a>
				</div>
			</dd>
		<?php endforeach; ?>
	</dl>
	
	<br clear="both" />
	
	<?php else: ?>
		<p class="empty">Your library is empty, you should add a <a href="#series/new" class="content">new series</a> to watch.</p>
	<?php endif; ?>
</section>