<section class="series">
	<h2>Series</h2>
	
	<nav class="content_nav">
		<a href="#series/new" class="content">New Series</a>
		<a href="#series/check" class="content">Check All</a>
		<a href="#series/update" class="content">Update All</a>
	</nav>
	
	<?php if (sizeof($this->picnic()->controller()->series) > 0): ?>
	<dl class="thumbnails">
		<?php foreach ($this->picnic()->controller()->series as $series): ?>
			<?php
				$last = $series->lastDownload();
				$next = $series->nextDownload();
				$then = $series->nextDownload($series->nextDownload(), false);
			?>
			<dd class="series">
				<div class="coverart">
					<img src="<?php echo  TVDB::imageURL($series->poster); ?>" alt="<?php echo  $series->watcher->name; ?>" />
				</div>
			</dd>
		<?php endforeach; ?>
	</dl>
	
	<br clear="both" />
	
	<?php else: ?>
		<p class="empty">Your library is empty, you should add a <a href="#series/new" class="content">new series</a> to watch.</p>
	<?php endif; ?>
</section>