<!DOCTYPE html>
<html xml:lang="en-us" lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<title>nzbVR <?php echo  nzbVR::VERSION; ?></title>
	
	<?php echo  ViewHelper::stylesheet("layout.css"); ?>
	
	<script type="text/javascript">
		var BASE_URL = "<?php echo  ViewHelper::link(""); ?>";
		var SKIN_URL = "<?php echo  ViewHelper::assetLink(""); ?>";
	</script>

	<?php echo  ViewHelper::javascript("jquery.js"); ?>
	<?php echo  ViewHelper::javascript("application.js"); ?>
</head>
<body>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	<script type="text/javascript">
		CFInstall.check({
			destination: document.location
		});
	</script>
	
	<header>
		<nav>
			<!-- dashboard, shows latest downloads / upcoming -->
			<a href="#dashboard" class="content">Dashboard</a>
			<!-- tv series watchers -->
			<a href="#series" class="content">Series</a>
			<!-- movie watchers  -->
			<a href="#movies" class="content">Movies</a>
			<!-- generic report search via newzbin  -->
			<a href="#search" class="content">Search</a>
			<!-- generic report watchers (for apps or games) -->
			<a href="#watchers" class="content">Watchers</a>
			<!-- application settings -->
			<a href="#settings" class="content">Settings</a>
		</nav>
		<h1><a href="/">nzb<span class="vr">VR</span> <span class="version"><?php echo  nzbVR::VERSION; ?></span></a></h1>
	</header>
	
	<div class="notifications">
		<?php foreach ($this->picnic()->controller()->notifications as $notification): ?>
			<div class="notification <?php echo $notification->className; ?>">
				<p><?php echo $notification->message; ?></p>
			</div>
		<?php endforeach; ?>
	</div>
	
	<div id="content">
		<div class="loader">
			<?php echo  ViewHelper::image("large_ticker.gif", "Loading .."); ?>
			<p class="thirdparty">This can take a few minutes as nzbVR pulls data from third-party sites.</p>
		</div>
		<div class="container"></div>
	</div>
</body>
</html>