<?php $benchmark = $this->picnic()->controller()->watchers->last_benchmark; ?>
<?php $start = $benchmark != null ?$benchmark->getMark("start") : null; ?>
<?php $watchers = $this->picnic()->controller()->watchers; ?>
<section>
	<h2>Dashboard</h2>
	
	<nav class="content_nav">
		<a href="#watchers/check.html" class="content slow">Check All</a>
		<a href="#watchers/update.html" class="content slow">Update All</a>
	</nav>
	
	<p class="watching">
		<?php echo $watchers->size(""); ?> watchers are currently configured, watching <?php echo $watchers->size("SeriesWatcher"); ?> series, <?php echo $watchers->size("MovieWatcher"); ?> movies and <?php echo $watchers->size("SearchWatcher"); ?> others.
	</p>
	
	<?php if ($benchmark != null): ?>
	<p class="last_benchmark">
		Last check downloaded <?php echo $benchmark->downloads; ?> reports, took place at <?php echo $start->getDateTime()->format('H:i'); ?> on <?php echo $start->getDateTime()->format('jS, F Y'); ?> and took <?php echo $benchmark->between("start", "end"); ?> seconds.
	</p>
	<?php endif; ?>
	
	<div class="changelog">
		<h4>Upcoming Changes</h4>
		
		<ul>
			<p>nzbVR is being re-written into a Ruby application to provide a more well rounded package with new functionality. Part of the new functionality, will be the ability for nzbVR to handle post-processing rules from SABnzbd (re-encode, move to the correct folder). The changes also mean that nzbVR will be a much tighter package allowing automatic updates without CRON or scheduled tasks. The Ruby version of nzbVR will no longer include the Picnic framework or the XML data model and instead use SQLite3 (or MySQL etc).</p>
			<p>If you would like to help with the Ruby version or think nzbVR needs a certain feature, give me a shout on <a href="http://github.com/sixones">GitHub!</a></p>
			<p>P.S. Until the Ruby version is released and stable, the PHP version will be maintained.</p>
		</ul>
		<h3>nzbVR <?php echo nzbVR::VERSION; ?> changes</h3>
		<ul>
			<li>fixed issues related to series downloading in the incorrect format</li>
			<li>added format to the Series list</li>
		</ul>
		<h4>0.34 changes</h4>
		<ul>
			<li>added thumbnails display option to series and added selector</li>
			<li>added sort by upcoming and recently downloaded options to series</li>
			<li>improved watchers list and added sort by category and name options</li>
			<li>fixed issue with categories on watchers</li>
			<li>added an overriding / master hardcoded config file (optional)</li>
		</ul>
		<h4>0.32 changes</h4>
		<ul>
			<li>added notifications via XBMC / Plex, Prowl or Growl</li>
			<li>added support for daily shows that use the episode air date as an identifier</li>
			<li>added newzbin authentication exception if authentication fails when attempting to search</li>
			<li>improved scraper support for when a provider is down (tvrage, tvdb, moviedb)</li>
			<li>removed use of DateTime::createFromFormat to allow support in PHP 5.2</li>
			<li>fixed the time display to recognise day light saving on the local system</li>
			<li>added new `update.php` task + info on scheduling to README + new launchctl plists</li>
			<li>picnic: created static methods for creating a DateTime object from a string or timestamp</li>
			<li>picnic: fixed logic for calculating time between benchmarks (fixes display of a negative time span on the nzbVR dashboard)</li>
		</ul>
		<h4>0.31 changes</h4>
		<ul>
			<li>changed TheTVDB search to use the series name entered by the user rather than the tv rage name</li>
			<li>completed movie's section with search + info support via TheMovieDB</li>
			<li>fixed links for checking an individual watcher (in series + movies + watchers)</li>
			<li>improved the watchers check method and moved all types (series + movies) to use the generic controller</li>
			<li>added results page for seeing the reports downloaded after a manual check via the web ui</li>
			<li>added changelog information to dashboard</li>
			<li>added a default cover for when series / movies dont have a poster available to download</li>
			<li>improved user interface for lists with information (series + movies)</li>
			<li>created a generic watcher update method (requires an extra cron to auto update - only needs to run every 12 hours)</li>
			<li>improved send to sabnzbd+ function on the search page</li>
			<li>fixed issues causing ajax requests to 404 when installing nzbVR to a sub-directory</li>
		</ul>
	</div>
</section>