<?php $benchmark = $this->picnic()->controller()->watchers->last_benchmark; ?>
<?php $start = $benchmark != null ?$benchmark->getMark("start") : null; ?>
<?php $watchers = $this->picnic()->controller()->watchers; ?>
<section>
	<h2>Dashboard</h2>
	
	<p class="watching">
		<?php echo $watchers->size(""); ?> watchers are currently configured, watching <?php echo $watchers->size("SeriesWatcher"); ?> series, <?php echo $watchers->size("MovieWatcher"); ?> movies and <?php echo $watchers->size("SearchWatcher"); ?> others.
	</p>
	
	<?php if ($benchmark != null): ?>
	<p class="last_benchmark">
		Last check downloaded <?php echo $benchmark->downloads; ?> reports, took place at <?php echo $start->getDateTime()->format('H:i'); ?> on <?php echo $start->getDateTime()->format('jS, F Y'); ?> and took <?php echo $benchmark->between("end", "start"); ?> seconds.
	</p>
	<?php endif; ?>
</section>