<section class="movies">
	<h2>Movies</h2>
	
	<nav class="content_nav">
		<a href="#movies/new" class="content">New Movie</a>
		<a href="#movies/check" class="content">Check All</a>
		<a href="#movies/update" class="content">Update All</a>
	</nav>
	
	<?php if (sizeof($this->picnic()->controller()->movies) > 0): ?>
	<dl>
		<?php foreach ($this->picnic()->controller()->movies as $movie): ?>
			<dd class="movie">
				<div class="coverart">
					<img src="#" alt="Coverart" />
				</div>
				<div class="information">
					<div class="identifier">
						<h3><?php echo  $movie->watcher->name; ?></h3>
						<span class="runtime"><?php echo  $movie->runtime; ?> minutes, released <?php echo  $movie->released; ?></span>
						<nav class="actions">
							<a href="#movies/check/<?php echo  $series->id; ?>" class="content">Check</a>
							<a href="#movies/update/<?php echo  $series->id; ?>" class="content">Update Info</a>
							<a href="#movies/delete/<?php echo  $series->id; ?>" class="content">Delete</a>
						</nav>
						<nav class="externals">
							<a href="<?php echo  $movie->imdbUrl(); ?>">IMDB</a>
						</nav>
					</div>
				</div>
			</dd>
		<?php endforeach; ?>
	</dl>
	<?php else: ?>
		<p class="empty">Your library is empty, you can add a <a href="#movies/new" class="content">new movie</a> to watch for.</p>
	<?php endif; ?>
</section>