<section class="movies">
	<h2>Movies</h2>
	
	<nav class="content_nav">
		<a href="#movies/new" class="content">New Movie</a>
		<a href="#watchers/check.html?type=movies" class="content slow">Check All</a>
		<a href="#watchers/update.html?type=movies" class="content slow">Update All</a>
	</nav>
	
	<?php if (sizeof($this->picnic()->controller()->movies) > 0): ?>
	<dl>
		<?php foreach ($this->picnic()->controller()->movies as $movie): ?>
			<dd class="movie <?php if ($movie->watcher->downloaded): ?>downloaded<?php endif; ?>">
				<div class="coverart">
					<img src="<?php echo $movie->posterUrl(); ?>" alt="Coverart" />
				</div>
				<div class="information">
					<div class="identifier">
						<h3><?php echo $movie->watcher->name; ?></h3>
						<?php if ($movie->moviedb_id != 0): ?><span class="runtime"><?php echo $movie->runtime; ?> minutes, released <?php echo $movie->released; ?></span>
						<?php else: ?><span class="runtime">Information not found on MovieDB</span><?php endif; ?>
						<span class="info">
							<ul>
								<li>Format:	
									<?php if (sizeof($movie->watcher->format) > 0): ?>
										<?php echo PicnicUtils::implode($movie->watcher->format); ?>
									<?php else: ?>
										Unknown
									<?php endif; ?>
								</li>
								<?php if (sizeof($movie->watcher->source) > 0): ?>
									<li>Source: <?php echo PicnicUtils::implode($movie->watcher->source); ?></li>
								<?php endif; ?>
								<li>Language: <?php echo PicnicUtils::implode($movie->watcher->language); ?></li>
							</ul>
						</span>
						<?php if ($movie->watcher->downloaded): ?>
							<span class="downloaded">Downloaded at <?php echo $movie->watcher->getDownloadedDateTime()->format('H:i'); ?> on <?php echo $movie->watcher->getDownloadedDateTime()->format('jS, F Y'); ?></span>
						<?php endif; ?>
						<?php if ($movie->overview != null && $movie->overview != ""): ?>
							<p class="overview"><?php echo $movie->overview; ?></p>
						<?php endif; ?>
						<nav class="actions">
							<a href="#watchers/check/<?php echo $movie->watcher->id; ?>" class="content slow">Check</a>
							<a href="#watchers/update/<?php echo $movie->watcher->id; ?>" class="content slow">Update Info</a>
							<a href="#movies/delete/<?php echo $movie->id; ?>" class="content confirm_delete">Delete</a>
						</nav>
						<?php if ($movie->moviedb_id != 0): ?>
						<nav class="externals">
							<a href="<?php echo $movie->trailer; ?>">Trailer</a>
							<a href="<?php echo $movie->homepage; ?>">Homepage</a>
							<a href="<?php echo $movie->moviedb_url; ?>">MovieDB</a>
						</nav>
						<?php endif; ?>
					</div>
				</div>
			</dd>
		<?php endforeach; ?>
	</dl>
	<?php else: ?>
		<p class="empty">Your library is empty, you can add a <a href="#movies/new" class="content">new movie</a> to watch for.</p>
	<?php endif; ?>
</section>