/* @override 
	http://vr.six.binaryporn.com/skins/iphone/assets/stylesheets/layout.css
	http://nzbvr.dev/skins/iphone/assets/stylesheets/layout.css
*/

body {
	background: #CCC;
	color: #000;
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 5px 10px 5px 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

header span.back-btn {
	display: none;
	background: #EEE;
	float: left;
	margin: -40px 0px;
	padding: 4px 5px;
	-webkit-border-radius: 5px;
}

header span.new-btn {
	display: none;
	background: #EEE;
	float: right;
	margin: -40px 0px;
	padding: 3px 6px 5px;
	-webkit-border-radius: 5px;
}

header h1 {
	color: #222;
	font-weight: bold;
	margin: 2px 5px 10px;
	padding: 2px 0px;
	text-align: center;
}

header h1 span.vr {
	color: #e32d67;
}

body section div.container {
	background: #FFFFFF;
	border: solid 1px #FFFFFF;
	display: none;
	padding: 0px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
}

body section div.container nav {
	margin: 0px;
	padding: 0px;
}

body section div.container nav a {
	border-bottom: solid 1px #DDD;
	display: block;
	margin: 0px;
	padding: 10px;
}

section.episode-list dl {
	margin: 0px;
	padding: 0px;
}

section.episode-list dl dd.season {
	margin: 0px;
	padding: 0px;
}

section.episode-list dl dd.season h4 {
	border-bottom: solid 1px #DDD;
	cursor: pointer;
	margin: 0px;
	padding: 10px;
}

section.episode-list dl dd.season dl.episodes {
	display: none;
}

section.episode-list dl dd.season dl.episodes dd {
	border-bottom: solid 1px #DDD;
	margin: 0px;
	padding: 10px;
}

section.episode-list dl dd.season dl.episodes dd nav {
	display: none;
}

section.episode-list dl dd.season dl.episodes dd span.chrono {
	color: #999;
	font-size: 0.7em;
}

section.episode-list dl dd.season dl.episodes dd.downloaded {
	background: #EEE;
}

body section div.container nav a:last-child {
	border-bottom: none;
}

body section div.container nav a span.action {
	float: right;
	font-weight: bold;
}

section.series-details {
	
}

section.series-details h2 {
	margin: 0px;
	padding: 10px 10px 0px 10px;
}

section.series-details div.coverart {
	border: solid 1px #333;
	float: right;
	height: 132px;
	margin: 10px;
	padding: 2px;
	width: 90px;
}

section.series-details div.coverart img {
	width: 90px;
}

section.series-details div.info {
	padding: 0px 10px;
}

section.series-details div.info span.runtime {
	color: #888;
	font-size: 0.8em;
}

section.series-details div.info p.overview {
	color: #444;
	font-size: 0.9em;
	margin: 15px 0px;
	padding: 0px;
}

section.series-details div.info div.episodes {
	margin-top: 20px;
	margin-bottom: 20px;
}

section.series-details dl.episodes span.state {
	color: #888;
	float: right;
	font-size: 0.9em;
	margin: 2px;
}

section.series-details div.info div.episodes h4 {
	margin: 0px;
	padding: 0px;
}

section.series-details div.info div.episodes h5 {
	margin: 10px 0px;
	padding: 0px;
}