<!DOCTYPE html>
<html xml:lang="en-us" lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	
	<title>nzbVR</title>
	
	<meta name="viewport" id="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0" />
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<link rel="apple-touch-icon" href="<?php echo  ViewHelper::assetLink("images/touch-icon.png"); ?>" />
	<link rel="apple-touch-startup-image" href="<?php echo  ViewHelper::assetLink("images/touch-startup.png"); ?>" />
	
	<?php echo  ViewHelper::stylesheet("layout.css"); ?>
	
	<script type="text/javascript">
		var BASE_URL = "<?php echo  ViewHelper::link(""); ?>";
		var SKIN_URL = "<?php echo  ViewHelper::assetLink(""); ?>";
	</script>
	
	<?php echo  ViewHelper::javascript("jquery.js"); ?>
	<?php echo  ViewHelper::javascript("application.js"); ?>
</head>
<body>
	<header>
		<h1><a href="/mobile.html">nzb<span class="vr">VR</span> <?php echo nzbVR::VERSION; ?></a></h1>
		<span class="back-btn"><a class="content" href="#back">Back</a></span>
		<span class="new-btn"><a class="content" href="#new">+</a></span>
	</header>

	<section id="content">
		<div class="container">
			
		</div>
	</section>
</body>
</html>