<section>
	<nav>
		<!-- tv series watchers -->
		<a href="#series" class="content">Series<span class="action">&gt;</span></a>
		<!-- movie watchers  -->
		<a href="#movies" class="content">Movies<span class="action">&gt;</span></a>
		<!-- generic report search via newzbin  -->
		<a href="#search" class="content">Search<span class="action">&gt;</span></a>
		<!-- generic report watchers (for apps or games) -->
		<a href="#watchers" class="content">Watchers<span class="action">&gt;</span></a>
		<!-- application settings -->
		<a href="#settings" class="content">Settings<span class="action">&gt;</span></a>
	</nav>
</section>