<section>
	<nav>
	<?php foreach ($this->picnic()->controller()->sortedWatchers as $watcher): ?>
		<?php if ($watcher->type() == "Series"): ?><a href="#series/show/<?php echo $watcher->id; ?>" class="content">
		<?php elseif ($watcher->type() == "Movie"): ?><a href="#">
		<?php else: ?><a href="#"><?php endif; ?>
		<?php echo $watcher->name; ?><span class="action"><?php echo $watcher->type(); ?><?php if ($watcher->type() == "Series"): ?> &gt;<?php endif; ?></span>
		</a>
	<?php endforeach; ?>
		
		<a href="#watchers/check.html" class="content special">Check All<span class="action">&gt;</span></a>
		<a href="#watchers/update.html" class="content special">Update All<span class="action">&gt;</span></a>
		
		<!-- tv series watchers -->
		<!-- <a href="#series" class="content special">Series<span class="action">&gt;</span></a>-->
		<!-- movie watchers  -->
		<!-- <a href="#movies" class="content special">Movies<span class="action">&gt;</span></a>-->
		<!-- generic report search via newzbin  -->
		<!-- <a href="#search" class="content special">Search<span class="action">&gt;</span></a>-->
		<!-- generic report watchers (for apps or games) -->
		<!-- <a href="#watchers" class="content special">Watchers<span class="action">&gt;</span></a>-->
		<!-- application settings -->
		<a href="#settings" class="content special">Settings<span class="action">&gt;</span></a>
	</nav>
</section>