<section class="search-results">
	<h2>Results</h2>
	
	<?php if (sizeof($this->picnic()->controller()->results) > 0): ?>
	
	<dl class="watchers">
		<?php foreach ($this->picnic()->controller()->results as $report): ?>
			<dd class="report downloaded">			
				<span class="formats">	
					<?php if (sizeof($report->format) > 0): ?>
						<?php echo PicnicUtils::implode($report->format); ?>
					<?php else: ?>
						Unknown
					<?php endif; ?>
				</span>

				<h3><?php echo $report->name; ?></h3>
				
				<span class="info">
					<ul>
						<?php if (sizeof($report->source) > 0): ?>
							<li>Source: <?php echo PicnicUtils::implode($report->source); ?></li>
						<?php endif; ?>
						<li>Language: <?php echo PicnicUtils::implode($report->language); ?></li>
					</ul>
				</span>
			</dd>
		<?php endforeach; ?>
	</dl>
	<?php else: ?>
		<p class="empty">No reports were found for download.</p>
	<?php endif; ?>
</section>