<section>
	<h2>New Watcher</h2>
	
	<nav class="content_nav">
		<a href="#watchers" class="content">Back to Watchers</a>
	</nav>
	
	<form class="slow" action="#watchers/new" method="post">
		<fieldset class="info">
			<dl>
				<dt>
					<label for="name">Name</label>
				</dt>
				<dd>
					<input id="name" type="text" value="" />
				</dd>
				
				<dt>
					<label for="category">Category</label>
				</dt>
				<dd>
					<?php ViewHelper::select("category", nzbVR::$categories, "-1", false); ?>
				</dd>

			
				<dt>
					<label for="format">Format</label>
				</dt>
				<dd>
					<?php ViewHelper::select("format", nzbVR::$formats); ?>
				</dd>
				
				<dt>
					<label for="source">Source</label>
				</dt>
				<dd>
					<?php ViewHelper::select("source", nzbVR::$sources); ?>
				</dd>
			
				<dt>
					<label for="language">Language</label>
				</dt>
				<dd>
					<?php ViewHelper::select("language", nzbVR::$languages); ?>
				</dd>
			</dl>
		</fieldset>
		
		<div class="buttons">
			<button type="submit" class="save_btn">Save</button>
		</div>
	</form>
	<script type="text/javascript">$nzbVR.view.allow_submit(true);</script>
</section>