<section>
	<h2>New Watcher</h2>
	
	<form class="slow" action="/watchers/new" method="post">
		<fieldset class="info">
			<dl>
				<dt>
					<label for="name">Name</label>
				</dt>
				<dd>
					<input id="name" type="text" value="" />
				</dd>
				
				<dt>
					<label for="category">Category</label>
				</dt>
				<dd>
					<?php ViewHelper::select("category", nzbVR::$categories, "-1", false); ?>
				</dd>

			
				<dt>
					<label for="format">Format</label>
				</dt>
				<dd>
					<?php ViewHelper::select("format", nzbVR::$formats, "x264", false); ?>
				</dd>
				
				<dt>
					<label for="source">Source</label>
				</dt>
				<dd>
					<?php ViewHelper::select("source", nzbVR::$sources); ?>
				</dd>
			
				<dt>
					<label for="language">Language</label>
				</dt>
				<dd>
					<?php ViewHelper::select("language", nzbVR::$languages, null, false); ?>
				</dd>
			</dl>
		</fieldset>
		
		<input id="tvrage_id" type="hidden" value="0" />
		
		<div class="buttons">
			<button type="submit" class="save_btn">Save</button>
			<button class="cancel_btn">Cancel</button>
		</div>
	</form>
	<script type="text/javascript">$nzbVR.view.allowSubmit(true);</script>
</section>