<section class="search-results">
	<h2>Watchers</h2>
	
	<nav class="content_nav">
		<a href="#watchers/new" class="content">New Watcher</a>
		<a href="#watchers/check.html?type=search" class="content slow">Check All</a>
	</nav>
	
	<?php if (sizeof($this->picnic()->controller()->watchers) > 0): ?>
	<dl class="watchers">
		<?php foreach ($this->picnic()->controller()->watchers as $watcher): ?>
			<dd class="report <?php if ($watcher->downloaded): ?>downloaded<?php endif; ?>">			
				<span class="formats">	
					<?php if (sizeof($watcher->format) > 0): ?>
						<?php echo PicnicUtils::implode($watcher->format); ?>
					<?php else: ?>
						Unknown
					<?php endif; ?>
				</span>

				<?php if ($watcher->downloaded): ?>
					<span class="downloaded">Downloaded at <?php echo $watcher->getDownloadedDateTime()->format('H:i'); ?> on <?php echo $watcher->getDownloadedDateTime()->format('jS, F Y'); ?></span>
				<?php endif; ?>
			
				<h3><?php echo $watcher->name; ?></h3>
				
				<nav class="actions">
					<?php if (!$watcher->downloaded): ?>
					<a href="#watchers/check/<?php echo $watcher->id; ?> slow" class="content">Check</a>
					<?php endif; ?>
					<a href="#watchers/delete/<?php echo $watcher->id; ?>" class="content">Delete</a>
				</nav>
				
				<span class="info">
					<ul>
						<?php if (sizeof($watcher->source) > 0): ?>
							<li>Source: <?php echo PicnicUtils::implode($watcher->source); ?></li>
						<?php endif; ?>
						<li>Language: <?php echo PicnicUtils::implode($watcher->language); ?></li>
					</ul>
				</span>
			</dd>
		<?php endforeach; ?>
	</dl>
	<?php else: ?>
		<p class="empty">Your library is empty, you can add a <a href="#watchers/new" class="content">new watcher</a> to monitor for files.</p>
	<?php endif; ?>
</section>