<section class="watchers">
	<h2>Watchers</h2>
	
	<nav class="content_nav">
		<a href="#watchers/new" class="content">New Watcher</a>
		<a href="#watchers/check" class="content">Check All</a>
		<a href="#watchers/update" class="content">Update All</a>
	</nav>
	
	<? if (sizeof($this->picnic()->controller()->watchers) > 0): ?>
	<dl>
		<? foreach ($this->picnic()->controller()->watchers as $watcher): ?>
			<dd class="watcher">
				<div class="information">
					<div class="identifier">
						<h3><?= $watcher->name; ?></h3>
						<nav class="actions">
							<a href="#watchers/check/<?= $watcher->id; ?>" class="content">Check</a>
							<a href="#watchers/update/<?= $watcher->id; ?>" class="content">Update Info</a>
							<a href="#watchers/delete/<?= $watcher->id; ?>" class="content">Delete</a>
						</nav>
					</div>
				</div>
			</dd>
		<? endforeach; ?>
	</dl>
	<? else: ?>
		<p class="empty">Your library is empty, you can add a <a href="#watchers/new" class="content">new watcher</a> to monitor for files.</p>
	<? endif; ?>
</section>