<section>
	<h2>Search</h2>
	
	<form action="#search" method="post">
		<fieldset class="search">
			<dl>
				<dd>
					<input id="query" autocomplete="off" type="text" value="Search ..." />
				</dd>
			</dl>
			<dl class="advanced">
				<dd>
					<?php ViewHelper::select("category", nzbVR::$categories, null, "Category"); ?>
				</dd>
				<dd>
					<?php ViewHelper::select("format", nzbVR::$formats, null, "Video Format"); ?>
				</dd>
				<dd>
					<?php ViewHelper::select("source", nzbVR::$sources, null, "Video Source"); ?>
				</dd>
				<dd>
					<?php ViewHelper::select("language", nzbVR::$languages, null, "Language"); ?>
				</dd>
			</dl>
		</fieldset>
	</form>
	<div id="search_results">
		<div class="small_loader">
			<?php echo  ViewHelper::image("light_ticker.gif", "Loading .."); ?>
		</div>
		<section id="results"></section>
	</div>
	<script type="text/javascript">$nzbVR.search.apply();</script>
</section>