/* @override 
	http://nzbvr.dev/skins/default/assets/stylesheets/layout.css?v=*
	http://nzbvr.dev/skins/default/assets/stylesheets/layout.css?v=375208664
	http://nzbvr.dev/skins/default/assets/stylesheets/layout.css?v=1091884961
	http://nzbvr.dev/skins/default/assets/stylesheets/layout.css?v=70333977
*/

body {
	background: #CCC;
	color: #000;
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 11px;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

header {
	
}

header h1 {
	color: #222;
	font-weight: bold;
	margin: 5px;
	padding: 2px 0px;
}

header h1 span.vr {
	color: #e32d67;
}

header nav {
	float: right;
	margin: 10px 5px;
}

header nav a {
	border: solid 1px #CCC;
	color: #222;
	font-size: 1.1em;
	margin: 5px 2px;
	padding: 4px 8px 4px 8px;
	outline: none;
}

header nav a:hover {
	background: #DDD;
	border: solid 1px #DDD;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

header nav a.selected {
	background: #DDD;
	border: solid 1px #DDD;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#content div.loader {
	margin: 50px;
	text-align: center;
}

div#content div.loader img {
	width: 55px;
}

div#content div.slow.loader p.thirdparty {
	display: block;
}

div#content div.loader p.thirdparty {
	display: none;
	margin: 30px auto;
	width: 430px;
}


div#content div.container {
	margin-top: 20px;
	padding: 0px 20px;
}

div#content div.container a {
	border-bottom: solid 1px #999;
	padding-bottom: 2px;
}

div#content div.container section {
	background: #FFFFFF;
	border: solid 1px #FFFFFF;
	display: block;
	margin: 25px auto 0px;
	padding: 20px 20px 15px;
	min-width: 500px;
	max-width: 1200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*position: absolute;
	bottom: 30px;
	top: 30px;
	height: 85%;
	left: 20px;
	right: 20px;*/
}

div#content div.container section .scroller {
	padding: 10px 5px;
	/*overflow-y: hidden;
	left: 0px;
	right: 0px;
	top: 10px;
	height: 90%;*/
}

div#content div.container section .scroller:hover {
	/*overflow-y: scroll;*/
}

div#content div.container section p.empty {
	font-size: 1.4em;
	margin-top: 40px;
	text-align: center;
}

div#content div.container section p.empty a {
	border-bottom: solid 1px #CCCCCC;
	padding-bottom: 2px;
}

div#content div.container section ul.list_box {
	list-style: none;
	margin: 0px;
	padding: 5px;
}

div.notification {
	background: #333;
	border: solid 2px #333;
	color: #EEE;
	margin: 15px auto;
	padding: 0px;
	text-align: center;
	width: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div.notification.success {
	background: #EEE;
	border-color: #EEE;
	color: #333333;
}

div.notification a {
	border-bottom: solid 1px #777;
	padding-bottom: 3px;
}

div#content div.container section ul.list_box li.head  h3 {
	display: inline;
	margin: 0px 0px 0px -5px;
}

div#content div.container section ul.list_box li {
	
	padding: 5px;
}

div#content div.container section p.watching {
	font-size: 1.4em;
	padding: 0px 0px 5px 0px;
}

div#content div.container section p.last_benchmark {
	color: #666;
}

div#content div.container section div.changelog {
	background: #EEE;
	border: solid 1px #EEE;
	margin: 40px 0px 0px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div#content div.container section div.changelog h3 {
	padding: 5px;
}

div#content div.container section div.changelog h4 {
	font-size: 1.1em;
	padding: 4px 2px 0px;
}

div#content div.container section ul.list_box li span.text {
	border-bottom: solid 1px #CCC;
	padding: 4px 1px 4px 0px;
}

div#content div.container section dl {
	margin-top: -5px;
	padding: 5px 0px;
}

div#content div.container section.series dl,
div#content div.container section.movies dl {
	margin-top: 40px;
}

div#content div.container section h2 {
	background: #EFEFEF;
	font-size: 1.8em;
	float: left;
	margin-top: -34px;
	padding: 3px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#content div.container section nav.content_nav {
	font-size: 1.1em;
	float: right;
	margin-top: -28px;
}

div#content div.container section nav.content_nav a {
	background: #EEE;
	border-color: #DDD;
	margin: 0px;
	padding: 3px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#content div.container section nav.sort,
div#content div.container section nav.display {
	float: right;
	margin-top: 5px;
}

div#content div.container section nav.display {
	float: left;
}

div#content div.container section nav.sort a,
div#content div.container section nav.display a {
	background: #FFF;
	border-color: #FFF;
	margin: 0px;
	padding: 3px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#content div.container section nav.sort a:hover,
div#content div.container section nav.display a:hover {
	background: #EEE;
	border-color: #CCC;
}

div#content div.container section nav.sort a.head,
div#content div.container section nav.display a.head {
	background: #FFF;
	border: none;
	margin: 0px;
	padding: 3px 6px;
}

div#content div.container section nav.sort a.selected,
div#content div.container section nav.display a.selected {
	background: #fEfEfE;
	border-color: #BBB;
}

div#content div.container section nav.content_nav a:hover {
	background: #DDD;
}

form {
	padding: 10px;
}

form fieldset {
	border: solid 1px #CDCDCD;
	margin: 15px;
	padding: 0px 15px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form fieldset:first-child {
	margin-top: 0px;
}

form fieldset legend {
	font-size: 1.4em;
	padding: 10px;
}

form fieldset dl {
	margin: 0px;
	padding: 0px;
}

form fieldset dl dt {
	float: left;
	margin: 5px 0px;
	padding: 5px;
	width: 150px;
}

form fieldset dl dd {
	background: #EEE;
	margin: 5px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form fieldset label {
	font-size: 1em;
	margin-left: 10px;
}

form fieldset input,
form fieldset select {
	border: solid 1px #CCC;
	font-size: 1em;
	margin: 0px;
	padding: 5px;
	outline: none;
	width: 300px;
}

form fieldset input.checkbox {
	margin: 5px;
}

form fieldset p {
	line-height: 1.7em;
	margin: 0px 5px 15px;
	padding: 5px;
}

form fieldset input:focus,
form fieldset select:focus {
	border: solid 1px #999;
}

form fieldset select {
	margin: 2px 0px;
}

form div.buttons {
	background: #FFFFFF;
	margin: 0px auto;
	padding: 5px;
	text-align: center;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form div.buttons button {
	background: #EEE;
	border: solid 1px #EEE;
	color: #333;
	font-size: 1.4em;
	padding: 5px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

form div.buttons button.save_btn {
	
}

form div.buttons button.cancel_btn {
	
}

form fieldset.search input#name,
form fieldset.search input#query {
	font-size: 1.4em;
	width: 98%;
}

form fieldset.search,
form fieldset.info {
	border: none;
	margin: 0px;
}

.hide {
	opacity: 0.5;
}

dl dd.series,
dl dd.movie {
	background: rgba(218,241,241,0.6);
	border: solid 1px #dae2f1;
	margin: 15px;
	padding: 10px;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

dl dd.series:first-child,
dl dd.movie:first-child {
	margin-top: -10px;
}

dl dd.series div.coverart,
dl dd.movie div.coverart {
	background: #FFFFFF;
	border: solid 1px #AAA;
	float: left;
	height: 120px;
	margin: 0px;
	padding: 2px 4px 4px 2px;
	width: 90px;
}

dl.thumbnails {
	margin: 30px 0px !important;
}

dl.thumbnails dd.series,
dl.thumbnails dd.movie {
	float: left;
	margin: 5px;
	padding: 4px;
}

dl.thumbnails dd.series div.coverart,
dl.thumbnails dd.movie div.coverart {
	float: none;
}

div#content dl.thumbnails dd:hover {
	background: #CCC;
}

div#content dl.thumbnails dd div.coverart:hover {
	background: #AAA;
}

dl.thumbnails dd.series div.coverart a {
	border: none !important;
}

dl dd.series div.coverart img,
dl dd.movie div.coverart img {
	border: solid 1px #333;
	height: 120px;
	margin: 0px;
	padding: 0px;
	width: 90px;
}

dl dd.series div.information,
dl dd.movie div.information {
	height: 128px;
	padding-left: 110px;
}

dl dd.watcher div.information {
	height: 30px;
}

dl dd.series div.information div.identifier,
dl dd.movie div.information div.identifier {
	float: right;
	text-align: right;
}

dl dd.series div.information div.identifier h3,
dl dd.movie div.information div.identifier h3 {
	font-size: 2em;
	margin: -2px 0px 8px 0px;
}

dl dd.series div.information div.identifier h3 a,
dl dd.movie div.information div.identifier h3 a {
	border-bottom: solid 1px #CCC;
	padding-bottom: 1px;
}

dl dd.series div.information div.identifier h3 a:hover,
dl dd.movie div.information div.identifier h3 a:hover {
	opacity: 0.5;
}

dl dd.series div.information div.identifier nav.actions,
dl dd.movie div.information div.identifier nav.actions {
	padding-top: 22px;
	position: absolute;
	bottom: 30px;
	right: 10px;
}

dl dd.series div.information div.identifier nav.externals,
dl dd.movie div.information div.identifier nav.externals {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

dl dd div.information div.identifier nav.actions a,
dl dd div.information div.identifier nav.externals a {
	border-bottom: none !important;
	color: #000;
	padding: 3px 4px 5px 4px;
}

dl dd div.information div.identifier nav a:hover {
	background: #FFF;
	border-bottom: solid 1px #CCC !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

dl dd.series div.information span.runtime,
dl dd.movie div.information span.runtime {
	display: block;
	text-align: right;
}

dl dd.series div.information p.overview {
	color: #444;
	height: 40px;
	margin: 0px;
	overflow: hidden;
}

dd.movie p.overview {
	color: #888;
	float: left;
	height: 43px;
	margin: 0px 0px 0px 0px;
	padding: 10px 5px 4px 0px;
	text-align: left;
	overflow: hidden;
}

div#content dl dd.series div.information div.episodes {
	font-size: 1em;
	display: block;
	margin: 0px -5px;
	line-height: 1.8em;
}

dl dd.series div.information div.episodes h4 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 5px 0px;
}

dl dd.series div.information div.episodes h5 {
	font-size: 1.2em;
}

form ul#results {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

form ul#results li {
	background: #CCC;
	color: #000;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

form ul#results li:hover,
form ul#results li.selected {
	background: #EEEEEE;
}

form ul#results li span.released,
form ul#results li span.first_aired {
	display: inline;
	color: #666666;
	float: right;
}

div#content div.small_loader {
	display: none;
	margin: 5% auto;
	width: 55px;
}

div#content section.search-results {
	margin: 0px auto;
	padding: 0px;
}

div#content section.search-results dl.watchers {
	margin-top: 35px;
}

div#content section.search-results dl {
	margin: 0px 20px;
	padding: 0px;
}

div#content section.search-results dl dd.report {
	background: #EEE;
	margin: 0px 5px 5px;
	padding: 15px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div#content section.search-results dl dd.report

div#content section.search-results dl dd.report.downloaded {
	background: #CCC;
}

div#content section.search-results dl dd ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div#content div#search_results a {
	border-bottom: solid 1px #AAA;
	padding-bottom: 2px;
}

div#content div.container {
	display: none;
}

div#content div.container section div#search_results section#results {
	margin: 0px;
	padding: 0px;
}

div#content div.container section div#search_results section#results section.search-results {
	margin: 0px;
	padding: 0px
}

div#content section.search-results dl dd ul li {
	display: inline;
}

body div#content div.container section.search-results dl dd.report span.state {
	color: #000;
	float: right;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

body div#content div.container section.search-results dl dd.report nav {
	float: right !important;
	margin-top: 5px;
}

div#content section.search-results dl dd.watcher nav.externals {
	color: #555;
}

div#content section.search-results dl dd.report nav a {
	margin-left: 5px;
}

div#content section.search-results dl dd.report span.info {
	color: #888;
	display: block;
	margin-top: 5px;
}

div#content section.search-results dl dd.report span.info ul li {
	margin-right: 10px;
}

div#content section.search-results dl dd.report span.formats {
	float: right;
}

dl.watchers dd.report span.formats {
	margin-top: -5px;
}

body div#content div.container section.search-results dl.watchers dd.report h3 {
	font-size: 1.4em;
	margin-top: -5px;
}

body div#content div.container section.search-results dl.watchers dd.report nav.actions {
	margin-top: -2px;
}

body div#content div.container section.search-results dl.watchers dd.report nav.actions a {
	border-color: #BBB;
}

div#content section.search-results dl dd.report span.downloaded {
	color: #000;
	font-weight: bold;
	float: right;
	margin: 0px 10px 0px 0px;
	padding: 0px 5px;
}

div#content span.runtime {
	color: #777;
	display: inline;
	padding: 12px 0px;
}

dd.movie {
	position: relative;
}

dd.movie h3 {
	text-align: right;
	width: 640px;
}

dd.movie span.info {
	display: inline;
	float: right;
	padding-left: 12px;
}

dd.movie span.info ul {
	display: inline;
	list-style: none;
	padding: 12px 0px;
}

dd.movie span.info ul li {
	display: inline;
	padding: 2px;
}

div#content section.series section.series-info {
	margin: 20px 0px;
	padding: 0px;
}

div#content section.series section.series-info nav.externals {
	float: right;
	margin: 10px;
}

div#content section.series div.episodes {
	font-size: 1.6em;
}

div#content section.series div.episodes h5 {
	font-weight: normal;
}

div#content section.series div.episodes h4 {
	margin: 10px 0px;
}

section.series section.series-info p {
	padding: 0px;
}

section.series div.coverart {
	border: solid 1px #999;
	float: right;
	clear: both;
	margin: 15px 0px 0px 10px;
	padding: 3px 3px 1px 3px;
	width: 160px;
}

section.series div.coverart img {
	width: 160px;
}

div#content section.series section.episode-list {
	margin: 85px 0px;
	padding: 0px;
}

div#content section.series section.episode-list dl {
	margin: 0px;
	padding: 0px;
}

div#content section.series section.episode-list dl nav a {
	border-bottom: none;
}

div#content section.series section.episode-list dl dd.season dl.episodes {
	display: none;
}

div#content section.series section.episode-list dl dd.season span.head {
	cursor: pointer;
	display: block;
}

/*div#content section.series section.episode-list dl dd.season:hover dl.episodes {
	display: block;
}*/

div#content section.series section.episode-list dl dd {
	margin: 0px;
	padding: 0px;
}

div#content section.series section.episode-list dl dd span.state {
	color: #222;
	font-weight: bold;
	float: right;
}

div#content section.series section.episode-list dl dd.season h4 {
	background: #353535;
	color: #EEE;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div#content section.series section.episode-list dl dd.season nav {
	color: #AAA;
	float: right;
	margin-right: 5px;
}

span.season-count {
	color: #FFF;
	float: right;
}

dl.episodes span.chrono {
	color: #888;
	padding: 5px;
}

div#content section.series section.episode-list dl dd dl.episodes dd {
	background: #CCC;
	color: #222;
	padding: 5px;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div#content section.series section.episode-list dl dd dl.episodes dd.downloaded {
	background: #AAA;
}

div#content section.series section.episode-list dl dd dl.episodes dd nav {
	float: right;
	margin: 0px 5px 0px;
	padding: 0px;
}

div#content section.series section.episode-list dl dd dl.episodes dd nav a {
	color: #666;
	margin-left: 0px;
	padding: 5px 0px 5px 5px;
}