<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.sixones.nzbvr</string>
    <key>UserName</key>
    <string>YourUsername</string>
    <key>ProgramArguments</key>
    <array>
        <string>php</string>
        <string>/path/to/nzbvr/check.php</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardErrorPath</key>
    <string>/tmp/org.sixones.nzbvr.log</string>
</dict>
</plist>
